langchain >= 0.2.3
streamlit >= 1.35.0
langchain-experimental
python-dotenv
langchain_ollama
reportlab
langchain-core==0.3.66
langchain-openai==0.3.25
langchain-community==0.3.26
langchain-groq==0.3.4
